table.td {
    border: 1px solid green;
}

.form-horizontal {

}

.back-to-list-button {
    margin-top: 10px;
}


body, html {
    height: 100%;
}

.limiter {
    /* The image used */
    background-image: url("../image/background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}