<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="limiter">
    <div class="container">
        <h3>Welcome to Quiz App</h3>
        <h1 th:text="${#authentication.name}">Test</h1>
    </div>
</div>
<div>
    <form action="/quizes" method="get">
        <input type="submit" value="Go to Quizes" />
    </form>
<br><br>
    <form action="/stats" method="get">
        <input type="submit" value="Go to Statistics" />
    </form>
</div>
</body>
</html>