<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizes</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<h1>
    <input type="text" th:value="${quiz.title}">
</h1>

<br>

<h4>
    <input type="text" th:value="${quiz.date}">
</h4>

<br>

<h3>
    <input type="text" th:value="${quiz.description}">
</h3>

<br><br><br>

<form>
    <th:block th:each="question : ${quiz.questions}">
        <fieldset th:id="group_ + ${question.id}">
            <table>
                <tr>
                    <td>
                        <input type="radio" th:value="${question.content}" name="group">
                    </td>
                </tr>
                <th:block th:each="answer : ${question.answerList}">
                    <tr>
                        <td>
                            <input type="radio" th:value="${answer.content}" name="group">
                        </td>
                    </tr>
                </th:block>
            </table>
        </fieldset>
    </th:block>
</form>

</body>
</html>